@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}
html{
	color:#666666;
	background:#6b100d;
}
body{
	font:14px/1.5 tahoma,arial,\5b8b\4f53;
}

input,select,textarea{
	font-size:100%;
	outline:0 none;
}

fieldset, img, a img{
	border:0;
}

iframe{
	display:block;
}

ol,ul {
	list-style:none;
}

a{
	color:#990000;
}

a:hover {
	color:#CC0000;
	text-decoration:underline;
}

ins,a {
	text-decoration:none;
}

em{
	font-style:normal;
}

.base-clear:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
.base-clear{
	zoom:1
}

.dib-wrap {
	font-size:0;
	*word-spacing:-1px;
}
.dib-wrap .dib{
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align:top;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	.dib-wrap{
		letter-spacing:-5px;
	}
}
.dib {
	display: inline-block;
	*display:inline;
	*zoom:1;
}

p.c{
	line-height:26px;
	color:#
}


.errorMessage{
	margin: 15px 0px 0px 65px;
	color: red;
	font-size: 12px;
}